
<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            margin: 0;
            padding: 1;
        }
    </style>
</head>

<div class = 'container'>
    <body>
    <h1> Login as User </h1>
    <form action="{% url 'user_auth:authenticate_user' %}" method="post">
        {% csrf_token %}
        <label>Username</label>
        <input type="text" name="username" placeholder="User" required>
        <br/><br/>
        <label>Password</label>
        <input type="password" name="password" required>
        <br/><br/>
        <input type="submit" value="Login" />
        <br/><br/>
    </form>
    
    <form>
        <a href = "http://127.0.0.1:8000/register_user/" /> Register new user </a>
    </form>
    </body>
</div>

</html>
