<!DOCTYPE html>
<html>

<head>
    <title>User Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            margin: 0;
            padding: 1;
        }
    </style>
</head>

<div class = 'container'>
    <body>
        <h2>User Registration</h2>
        <form method="post">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
        
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
        
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" required><br><br>
        
            <input type="submit" value="Register">
        </form>
    </body>
</div>

</html>
